<footer class="footer" id="footer">
     <div class="container no-print">
        <div class="content has-text-centered text-muted">
          <p class="mt-2" style="color:#FFFFFF">AppRom v2 - 2024 | ROM © Todos los Derechos Reservados	- Desarrollado por: Carlos Olivera Mispireta</p>
        </div>
    </div>
<div style="color: #222222" class="" id="footerFOR284" hidden>
  <h6>Formulario aprobado por RD N° &nbsp; 154-2019-DG-CNSP/INS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha: 05 / 07 / 2019 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Página 1 de 1</h6>
</div>  
<div style="color: #222222" class="" id="footerFOR027" hidden>
  <h6>Formulario aprobado por RD N° &nbsp; 149-2019-DG-CNSP/INS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha: 05 / 07 / 2019 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Página 1 de 1</h6>
</div> 
</footer>
