<!-- Modal USER-->
<div class="modal fade" id="staticBackdropNOUSER" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropULabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropULabel">Notificación</h1>
        <a href="https://appromcnsp.com/" class="btn-close"></a>
      </div>
      <div class="modal-body">
        Usuario no reconocido. Por favor inicie sesión.
      </div>
      <div class="modal-footer">
        <a href="https://appromcnsp.com/" class="btn btn-secondary">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</div>

