<aside id="sidebar" class="no-print ">
            <div class="no-print d-flex">
                <button class="no-print toggle-btn" type="button">
                    <img src="https://raw.githubusercontent.com/coliveramispireta/imagenes/main/LOGO%20INS%20BLANCO.png" alt="Logo" width="40" height="auto" class="no-print d-inline-block align-text-top">
                </button>
                <div class="no-print sidebar-logo">
                    <a href="#" style="zoom:130%">APPROM</a>
                </div>
            </div>
            <ul class="no-print sidebar-nav">
                     <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#recep" aria-expanded="false" aria-controls="recep">
                        <i class="no-print lni lni-ambulance"></i>
                        <span>Recepción</span>
                    </a>
                    <ul id="recep" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link" data-bs-toggle="modal" data-bs-target="#createModalCARGARDENGUE">Registrar Nuevo Oficio</a>
                        </li>
                        <li class="no-print sidebar-item">
                            <a class="no-print sidebar-link" id="recepcionInterna_pageLink" >Registrar Recepción Interna</a>
                        </li>
                    </ul>
                </li>
                <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link" id="digitacion_pageLink">
                        <i class="no-print lni lni-keyboard"></i>
                        <span>Digitación</span>
                    </a>
                </li>
                  <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#entr" aria-expanded="false" aria-controls="entr">
                        <i class="no-print lni lni-first-aid"></i>
                        <span>Entrega</span>
                    </a>
                    <ul id="entr" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link" id="bandejaSalida_pageLink">Bandeja de Salida</a>
                        </li>
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link" id="entrega_pageLink">Entrega de Muestras</a>
                        </li>
                    </ul>
                </li>
                <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link" id="rechazos_pageLink">
                        <i class="no-print lni lni-warning"></i>
                        <span>Rechazos</span>
                    </a>
                </li>
                <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link" id="biopacks_pageLink">
                        <i class="no-print lni lni-dropbox"></i>
                        <span>Empaques</span>
                    </a>
                </li>
                <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                        <i class="no-print lni lni-bar-chart"></i>
                        <span>Reportes</span>
                    </a>
                    <ul id="multi" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link collapsed" data-bs-toggle="collapse"
                                data-bs-target="#multi-one" aria-expanded="false" aria-controls="multi-one">
                                Panel de Indicadores
                            </a>
                            <ul id="multi-one" class="no-print sidebar-dropdown list-unstyled collapse">
                                <li class="no-print sidebar-item">
                                    <a target="_blank" id="link_1" href="" class="no-print sidebar-link">Informe General</a>
                                </li>
                                <li class="no-print sidebar-item">
                                    <a target="_blank" id="link_2" href="" class="no-print sidebar-link">Informe de Rechazos</a>
                                </li>
                                <li class="no-print sidebar-item">
                                    <a target="_blank" id="link_3" href="" class="no-print sidebar-link">Oportunidad de Entrega</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                        <ul id="multi" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link collapsed" data-bs-toggle="collapse"
                                data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                Panel de Producción
                            </a>
                            <ul id="multi-two" class="no-print sidebar-dropdown list-unstyled collapse">
                                <li class="no-print sidebar-item">
                                    <a target="_blank" id="link_4" href="" class="no-print sidebar-link">Producción de Recepción</a>
                                </li>
                                <li class="no-print sidebar-item">
                                    <a target="_blank" id="link_5" href="" class="no-print sidebar-link">Producción de Digitación</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                        <ul id="multi" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item">
                            <a  href="#" class="no-print sidebar-link collapsed" data-bs-toggle="collapse"
                                data-bs-target="#multi-tree" aria-expanded="false" aria-controls="multi-tree">
                                Panel Crítico
                            </a>
                            <ul id="multi-tree" class="no-print sidebar-dropdown list-unstyled collapse">
                                <li class="no-print sidebar-item">
                                    <a target="_blank" id="link_6" href="" class="no-print sidebar-link">Excluidas por Falta de Datos</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#tools" aria-expanded="false" aria-controls="tools">
                        <i class="no-print lni lni-ruler-alt"></i>
                        <span>Herramientas</span>
                    </a>
                    <ul id="tools" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item" id="consultaDatos_pageLink">
                            <a href="#" class="no-print sidebar-link">Consulta de datos</a>
                        </li>
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link" id="busquedaOficios_pageLink">Búsqueda Masiva</a>
                        </li>
                    </ul>
                </li>
                      <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#for" aria-expanded="false" aria-controls="for">
                        <i class="no-print lni lni-printer"></i>
                        <span>Formatos</span>
                    </a>
                    <ul id="for" class="no-print sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="no-print sidebar-item" >
                            <a href="#" class="no-print sidebar-link" id="for284_pageLink">Imprimir FOR-CNSP-284</a>
                        </li>
                        <li class="no-print sidebar-item">
                            <a href="#" class="no-print sidebar-link" id="for027_pageLink">Imprimir FOR-CNSP-027</a>
                        </li>
                    </ul>
                </li>
                <li class="no-print sidebar-item">
                    <a href="#" class="no-print sidebar-link" id="miPerfil_pageLink">
                        <i class="no-print lni lni-user"></i>
                        <span>Mi Perfil</span>
                    </a>
                </li>
           
            </ul>
            <div class="no-print sidebar-footer">
                <a id="link_7" href="" class="no-print sidebar-link">
                    <i class="no-print lni lni-exit"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </aside>

            <script>
const hamBurger = document.getElementById("sidebar");
const sidebar = document.querySelector("#sidebar");

hamBurger.addEventListener("mouseover", function () {
  sidebar.classList.add("expand");
});

hamBurger.addEventListener("mouseout", function () {
  sidebar.classList.remove("expand");
});

    </script>
